.main-chat
  .main-chat__group-info
    %ul.main-chat__group-info__box
      %li.main-chat__group-info__box__group-name
        team
      %li.main-chat__group-info__box__group-mem
        Member : member
    %a.edit-space{href:"#"}
      .edit-btn
        edit
  .main-chat__group-message
    .main-chat__group-message__message-box
      %ul.main-chat__group-message__message-box__message-info
        %li.main-chat__group-message__message-box__message-info__message-user
          masa
        %li.main-chat__group-message__message-box__message-info__message-data
          2020/00/00/() 00:00:00
      %p.main-chat__group-message__message-box__message
        hello
    .main-chat__group-message__message-box
      %ul.main-chat__group-message__message-box__message-info
        %li.main-chat__group-message__message-box__message-info__message-user
          masa
        %li.main-chat__group-message__message-box__message-info__message-data
          2020/00/00/() 00:00:00
      %p.main-chat__group-message__message-box__message
        hello
  .main-chat__message-form
    %form.input-form
      .input-box
        %input.input-box__message{placeholder: "type a message", type: "text"}
        %label.input-box__pict
          = icon('far', 'image')
          %input.input-box__pict__file{type: "file"}
      %input.send-btn{type: "submit"}
    
