.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-itmes
      %p.side-bar__user-name__top-itmes__name 
        = current_user.name
      %ul.side-bar__user-name__top-itmes__btn
        %li.side-bar__user-name__top-itmes__edit
          =link_to do
            = icon('fas', 'edit', class: 'icon')
        %li.side-bar__user-name__top-itmes__create
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
                

  .side-bar__group-list
    %ul.side-bar__group-list__one-group
      %li.side-bar__group-list__one-group__groupname
        group
      %li.side-bar__group-list__one-group__last-message
        message