*{
  box-sizing: border-box;
 
}
.side-bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
  float: left;
  &__user-name{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__top-itmes{
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 20px;
      margin: 0px 20px;
      &__name{
        color: #ffffff ;
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
      }
      &__btn{
        display: flex;
        justify-content: space-around;
        line-height: 20px;
        width: 60px;
        text-align: right;
        .icon{
          color: #ffffff;
          margin-left: 5px;
        }
      }              
    }
  }
  &__group-list{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding:20px;
    &__group{
      .group-box{
        text-decoration: none;
        color: #ffffff;
        &__name{
          font-size: 15px;
          height: 23px;
          line-height: 23px;
          margin-bottom: 5px;
        }
        &__last-message{
          color: #ffffff;
          font-size: 11px;
          height: 17px;
          line-height: 17px;
          margin-bottom: 40px;
        }
      }
    }
  }
}
.main-chat{
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
  float: right;
  &__group-info{
    background-color: #ffffff;
    height: 100px;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    &__box{
      height: 100px;
      width: 250px;
      &__group-name{
        color: #333333;
        font-size: 20px;
        height: 30px;
        line-height: 30px;
        margin: 35px 0px 15px 0px;
      }
      &__group-list{
        color: #999999;;
        font-size: 12px;
        height: 20px;
        line-height: 20px;
        position: relative;
        margin-left: 40px;
        display: flex;
        justify-content: space-between;
        &__mem{
          color: #999999;
          font-size: 12px;
          line-height: 20px;

        }
      }
    }
    &__edit-space{
      color: #38aef0;
      margin-top: 28px;
      height: 40px;
      width: 72px;
      font-size: 16px;
      border:solid 1px;
      line-height: 40px;
      text-align: center;
      .edit-btn{
        text-decoration: none;
        color: #38aef0;
      }
    }
  }
  &__group-message{
    background-color: #fafafa; 
    height: calc(100% - 100px - 90px);
    padding: 40px 35px;
    overflow: scroll;
    &__message-box{
      width: 250px;
      padding-bottom: 46px;
      &__message-info{
        height: 22px;
        width: 210px;
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
        &__message-user{
          color: #333333;
          font-size: 16px;
          line-height: 22px;
        }
        &__message-data{
          color: #999999;
          font-size: 10px;
        }
      }
      &__message{
        color: #434A54;
        font-size: 14px;
        height: 20px;
        width: 210px;
        line-height: 20px;
        &__image{
          height: 113px;
          width: 200px;
        }
      }
   }
  }
  &__message-form{
    background-color: #d2d2d2;
    height: 90px;
    width: calc(100% - 300px);
    padding:20px 40px;
    position: absolute;
    bottom: 0;
     .new_message{ 
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      
    }
    &__message{
      height: 50px;
      width: calc( 100vw - 300px - 100px );
    }
    &__btn{
      height: 50px;
      margin-right: 15px;
      display: flex;
      justify-content: space-between;
      position: relative;
      &__image{
        height: 50px;
        width: 100% ;
        margin: 0px 10px;
        .icon{
          height: 50px;
          width: 50px;
          line-height: 50px;
          text-align: center;
          color: black;
          position: absolute;
          right: 10px;
        }
        .hidden{
          display: none;
        }
      }
    }
    &__send-btn{
      height: 50px;
      width: 100px;
      color: white;
      line-height: 50px;
      text-align: center;
      background-color: skyblue;
    } 
  }
}